.App{
  /* position: relative; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.board__table{
  border-collapse: collapse;
}
tr{
  /* display: flex; */
}
.board__item{
  position: relative;
  text-align: center;
  width: 100px;
  height: 100px;
  border: 1px solid #757575;
  cursor: pointer;
  user-select: none;
  background: #fafafa;
}
.board__item-circle{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  /* background: dodgerblue; */
  border-radius: 50%;
}
.winner-text{
  /* position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, 50px); */
}
